<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<p><%= link_to 'Back', restaurants_path %></p>
<hr>
<h2>Reviews</h2>
<ul class="list-unstyled">
  <%= raw "<em>no reviews yet</em>" if @restaurant.reviews.size.zero? %>
  <% @restaurant.reviews.each do |review| %>
  <li>
    <%= '⭐️'*review.rating %>
    <p><%= review.content %></p>
    <%= link_to "Remove",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>
<div>
<h2>Add new review for <%= @restaurant.name %></h2>
<%= simple_form_for [ @restaurant, Review.new ] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>

